---
import { Icon } from "astro-icon";
const { } = Astro.props;

const items = [
  {
    title: "Headers",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
    icon: "flat-color-icons:home"
  },
  {
    title: "Footers",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
    icon: "flat-color-icons:faq"
  },
  {
    title: "Features",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
    icon: "flat-color-icons:video-projector"
  },
  {
    title: "Call-to-Action",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
    icon: "flat-color-icons:video-projector"
  },
  {
    title: "Pricing",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
    icon: "flat-color-icons:calculator"
  },
  {
    title: "Testimonial",
    description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.",
    icon: "flat-color-icons:voice-presentation"
  }
]
---

<section>
  <p> Components </p>
  <h2> Most used widgets </h2>
  <p>
  Provides frequently used components for building websites using
  Tailwind CSS
  </p>

  {items.map(({ title, description, icon }) => (
      <Icon name={icon} />
      <h2>{title}</h2>
    <p>{description}</p> 
  ))}
</section>
