---
import './flipdisplay.css';
---

<div class="flexing">
  <div class="section section--yellow">
    <h3 class="title">Work</h3>
  </div>
  <div class="section section--pink">
    <h3 class="title">About</h3>
  </div>
  <div class="section section--green">
    <h3 class="title">Contact</h3>
  </div>
  <div class="section section--pink">
    <h3 class="title">Pricing</h3>
  </div>
  <div class="section section--green">
    <h3 class="title">Find Me</h3>
  </div>
</div>
