---
---
<script>
let dateSelector = document.getElementById('dateselector');
  //let today = new Date().toISOString().split('T')[0];
  //dateSelector.value = today;
  const today = new Date()
  const tomorrow = new Date(today)
  tomorrow.setDate(tomorrow.getDate() + 1)

  dateSelector.valueAsDate = tomorrow;

let form = document.getElementById('my-form');
  if (form.attachEvent) {
      form.attachEvent("submit", processForm);
  } else {
      form.addEventListener("submit", processForm);
  }
function processForm(e) {
  if (e.preventDefault) e.preventDefault();

  const data = new FormData(e.target);
  const arr = [...data.keys()];
  const val = [...data.values()];

  let initial = {
   "id" : Math.floor(1000 + (Math.random() * 8000)),
    "department" : "default"
  }
  for (let i = 0; i < arr.length; i++) {
      initial[arr[i]] = val[i];
  }

  let formObject = {
      "id" : initial.id,
      "quote" : initial.description,
      "source" : "",
      "author" : initial.namefield,
      "year" : initial.dateselector,
      "updateList" : [],
      "urgency" : "low",
      "startTime" : initial.starttime,
      "endTime" : initial.endtime,
      "equipment" : initial.Equipment,
      "location" : initial.department,
      "partsUsed" : initial.parts,
      "materialsUsed" : initial.consumables,
      "furtherAction" : initial.furtheraction
    }

fetch("http://192.168.1.252/server/new", {
  //fetch("http://localhost:3000/", {
  method: "POST",
  headers: {
    'Accept': 'application/json',	
    'Content-Type': 'application/json'}, 
  body: JSON.stringify(formObject)
}).then(res => {
  if(res.status == 500) {
    return;
  } else {
    console.log("response ", res);

    document.getElementById("my-form").reset();
    let dateSelector = document.getElementById('dateselector');
    //let today = new Date().toISOString().split('T')[0];
    //dateSelector.value = today;
    const today = new Date()
    const tomorrow = new Date(today)
    tomorrow.setDate(tomorrow.getDate() + 1)
    dateSelector.valueAsDate = tomorrow;
    let form = document.querySelector('#my-form')
    form.classList.remove("flash");
    var result = alert( "Thanks! your submission was saved" );
    if ( result ) {
      form.classList.add("flash");
    } else {
      form.classList.add("flash");
    }
  }
});
  // You must return false to prevent the default form behavior
  return false;
}
</script>

<style>
  * {
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
  }
  .flash{
    background: green;
    animation: green 3s ease forwards;
  }
  .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
    button {
    margin-left: auto !important;
    padding: 1rem;
    width: 100px;
    font-family: 'Helvetica', 'Arial', sans-serif !important;
    font-size: 16px;
    font-weight: 900;
    color: white;
    border: none !important;
    outline: none !important;
    background: linear-gradient(270deg, rgba(17,184,237,1) 4%, rgba(11,231,55,1) 95%);
  }
  label {
    margin-left: 3rem;
    padding-right: 1rem;
    font-weight: 900;
    font-family: 'Helvetica', 'Arial', sans-serif !important;
    font-size: 16;
  }
  input[type="text"] {
    border: none !important;
    outline: none !important;
    font-size: 16px;
    padding: 1rem;
    height: 2rem;
    width: 13rem;
  }
    input[type="time"] {
    border: none !important;
    outline: none !important;
    height: 2rem;
    width: 7rem !important;

  }

  input[type="date"] {
    border: none !important;
    outline: none !important;
    margin-left: auto !important;
    font-size: 16 !important;
    height: 2rem !important;
  }

  input,
  ::placeholder{
overflow: visible;
}
input,
input::placeholder {
    font-size: 16px;
}
textarea {
    font-family: 'Helvetica', 'Arial', sans-serif !important;
    margin: 0.5rem;
  font-size: 16px !important;
  resize: none !important;
  width: 100% !important;
  height: 100px !important;
  padding: 1rem !important;
  outline: none !important;
  border: none !important;
}

select {
  font-family: 'Helvetica', 'Arial', sans-serif !important;
  border: none !important;
  outline: none !important;
  margin: 0.5rem;
  width: 100%;
  height: 3rem;
}


  #my-form{
    transition: all 5s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background: rgba(30,30,100,0.1);
    padding: 4rem;
    min-height: 80vh;
  }
  #my-form * {
  }
  .time {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
  }
  .date {
    display: flex;
    flex-direction: row;
    margin: 0.5rem;
  }
  @keyframes green {
    from {
      background: green;
    }
    to {
      background: rgba(30,30,100,0.1);

    }
  }
  @media (max-width: 680px) {

  .time {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
  }
  .date {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
  }
  input[type="date"] {
    margin: 1rem 0px;
    margin-left: 0 !important;
  }
  label {
    margin-bottom: 2px;
    padding-top: 4px;
  }
  }
</style>

<div class="container">
<form id="my-form">
  <div class="time">
 <input type="date" id="dateselector" name="dateselector" value="2018-07-22">
  <label for="starttime">Start Time:</label>
<input type="time" id="starttime" name="starttime"
       min="04:00" max="22:00" required>
  <label for="endtime">End Time:</label>
<input type="time" id="endtime" name="endtime"
       min="04:00" max="22:00" required>
  </div>
  <div class="date">
   <input id="namefield" type="text" name="namefield" placeholder="Name" required>
  </div>
<input list="Equipment" name="Equipment">
<datalist id="Equipment" name="Equipment" placeholder="Select Equipment">
  <optgroup label="Sorting"style="font-family:'helvetica', 'arial';font-size: 16px;">
    <option value="Bag Remover	TAY-A-001">Bag Remover	TAY-A-001</option>
    <option value="Primary Bag System	TAY-SUPERTRACK2-A">Primary Bag System	TAY-SUPERTRACK2-A</option>
    <option value="Bag Remover	TAY-A-001">Bag Remover	TAY-A-001</option>
    <option value="Bag Remover	TAY-A-002">Bag Remover	TAY-A-002</option>
    <option value="Bag Chain Incline	TAY-A-003">Bag Chain Incline	TAY-A-003</option>
    <option value="Bag Chain Incline	TAY-A-004">Bag Chain Incline	TAY-A-004</option>
    <option value="Bag Chain Incline	TAY-A-005">Bag Chain Incline	TAY-A-005</option>
    <option value="Bag Chain Incline	TAY-A-006">Bag Chain Incline	TAY-A-006</option>
    <option value="Bag Remover	TAY-A-007">Bag Remover	TAY-A-007</option>
    <option value="Bag Remover	TAY-A-008">Bag Remover	TAY-A-008</option>
    <option value="Primary Incline Conveyor to Platform	TAY-A-009">Primary Incline Conveyor to Platform	TAY-A-009</option>
    <option value="Sorting Conveyor	TAY-A-010">Sorting Conveyor	TAY-A-010</option>
    <option value="Sorting Platrform	TAY-A-011">Sorting Platrform	TAY-A-011</option>
    <option value="Sorting Carousel	TAY-A-012">Sorting Carousel	TAY-A-012</option>
    <option value="Compound Controller	TAY-A-013">Compound Controller	TAY-A-013</option>
    <option value="Classified Soiled Bag System	TAY-SUPERTRACK2-B">Classified Soiled Bag System	TAY-SUPERTRACK2-B</option>
    <option value="Classified Items Delivery Conveyor (under platform)	TAY-A-014">Classified Items Delivery Conveyor (under platform)	TAY-A-014</option>
    <option value="Transport Conveyor to Bag Loading Unit	TAY-A-015">Transport Conveyor to Bag Loading Unit	TAY-A-015</option>
    <option value="Bag Loading Unit	TAY-A-016">Bag Loading Unit	TAY-A-016</option>
    <option value="Bag Hoist 1	TAY-A-017">Bag Hoist 1	TAY-A-017</option>
    <option value="Storage Lane 1	TAY-A-018">Storage Lane 1	TAY-A-018</option>
    <option value="Storage Lane 2	TAY-A-019">Storage Lane 2	TAY-A-019</option>
    <option value="Storage Lane 3	TAY-A-020">Storage Lane 3	TAY-A-020</option>
    <option value="Storage Lane 4	TAY-A-021">Storage Lane 4	TAY-A-021</option>
    <option value="Storage Lane 5	TAY-A-022">Storage Lane 5	TAY-A-022</option>
    <option value="Storage Lane 6	TAY-A-023">Storage Lane 6	TAY-A-023</option>
    <option value="Storage Lane 7	TAY-A-024">Storage Lane 7	TAY-A-024</option>
    <option value="Storage Lane 8	TAY-A-025">Storage Lane 8	TAY-A-025</option>
    <option value="Storage Lane 9	TAY-A-026">Storage Lane 9	TAY-A-026</option>
    <option value="Storage Lane 10	TAY-A-027">Storage Lane 10	TAY-A-027</option>
    <option value="Storage Lane 11	TAY-A-028">Storage Lane 11	TAY-A-028</option>
    <option value="Storage Lane 12	TAY-A-029">Storage Lane 12	TAY-A-029</option>
    <option value="Storage Lane 13	TAY-A-030">Storage Lane 13	TAY-A-030</option>
    <option value="Storage Lane 14	TAY-A-031">Storage Lane 14	TAY-A-031</option>
    <option value="Bag Hoist 2	TAY-A-032">Bag Hoist 2	TAY-A-032</option>
    <option value="Bag Hoist 4	TAY-A-033">Bag Hoist 4	TAY-A-033</option>
    <option value="Bag Incline	TAY-A-034">Bag Incline	TAY-A-034</option>
    <option value="Bag Hoist 5	TAY-A-035">Bag Hoist 5	TAY-A-035</option>
    <option value="Bag Incline	TAY-A-036">Bag Incline	TAY-A-036</option>
    <option value="Discharger 1	TAY-A-037">Discharger 1	TAY-A-037</option>
    <option value="Discharger 2	TAY-A-038">Discharger 2	TAY-A-038</option>
    <option value="Discharger 3	TAY-A-039">Discharger 3	TAY-A-039</option>
    <option value="Discharger 4	TAY-A-040">Discharger 4	TAY-A-040</option>
    <option value="Discharger 5	TAY-A-041">Discharger 5	TAY-A-041</option>
    <option value="Bag Closer	TAY-A-042">Bag Closer	TAY-A-042</option>
    <option value="Bag Hoist 3	TAY-A-043">Bag Hoist 3	TAY-A-043</option>
    <option value="Bag Stacker (Ongoing)	TAY-A-044">Bag Stacker (Ongoing)	TAY-A-044</option>
    <option value="Bag Stacker (Offgoing)	TAY-A-045">Bag Stacker (Offgoing)	TAY-A-045</option>
    <option value="Classified Bags Soiled (Blue)	TAY-A-046">Classified Bags Soiled (Blue)	TAY-A-046</option>
    <option value="Terminal 1	TAY-A-047">Terminal 1	TAY-A-047</option>
    <option value="Terminal 2 (Industrial Sorting)	TAY-A-048">Terminal 2 (Industrial Sorting)	TAY-A-048</option>
    <option value="CBW 3 Step Loading Conveyor	TAY-A-049">CBW 3 Step Loading Conveyor	TAY-A-049</option>
  </optgroup>
  <optgroup label="Washroom"style="font-family:'helvetica', 'arial';font-size: 16px;">
    <option value="Pharmagg 1	TAY-B-001">Pharmagg 1	TAY-B-001</option>
    <option value="Pharmagg 2	TAY-B-002">Pharmagg 2	TAY-B-002</option>
    <option value="Cycle Dryer with Snorkel	TAY-B-003">Cycle Dryer with Snorkel	TAY-B-003</option>
    <option value="SailStar GP70 Washer Extractor	TAY-B-004">SailStar GP70 Washer Extractor	TAY-B-004</option>
    <option value="ADC ADS-170SE Dryer	TAY-B-005">ADC ADS-170SE Dryer	TAY-B-005</option>
    <option value="CBW 1	TAY-B-006">CBW 1	TAY-B-006</option>
    <option value="Water Extraction Press 1	TAY-B-007">Water Extraction Press 1	TAY-B-007</option>
    <option value="Lift Shuttle 1	TAY-B-008">Lift Shuttle 1	TAY-B-008</option>
    <option value="Batch Dryer 1.1	TAY-B-009">Batch Dryer 1.1	TAY-B-009</option>
    <option value="Batch Dryer 1.2	TAY-B-010">Batch Dryer 1.2	TAY-B-010</option>
    <option value="Batch Dryer 1.3	TAY-B-011">Batch Dryer 1.3	TAY-B-011</option>
    <option value="Batch Dryer 1.4	TAY-B-012">Batch Dryer 1.4	TAY-B-012</option>
    <option value="Batch Dryer 1.5	TAY-B-013">Batch Dryer 1.5	TAY-B-013</option>
    <option value="Compound Controller	TAY-B-014">Compound Controller	TAY-B-014</option>
    <option value="Lint Collection Box	TAY-B-015">Lint Collection Box	TAY-B-015</option>
    <option value="Dryer Discharge Conveyor	TAY-B-016">Dryer Discharge Conveyor	TAY-B-016</option>
    <option value="Dryer Discharge Conveyor	TAY-B-017">Dryer Discharge Conveyor	TAY-B-017</option>
    <option value="Bypass Conveyor	TAY-B-018">Bypass Conveyor	TAY-B-018</option>
    <option value="CBW 2	TAY-B-019">CBW 2	TAY-B-019</option>
    <option value="Water Extraction Press 2	TAY-B-020">Water Extraction Press 2	TAY-B-020</option>
    <option value="Lift Shuttle 2	TAY-B-021">Lift Shuttle 2	TAY-B-021</option>
    <option value="Batch Dryer 2.1	TAY-B-022">Batch Dryer 2.1	TAY-B-022</option>
    <option value="Batch Dryer 2.2	TAY-B-023">Batch Dryer 2.2	TAY-B-023</option>
    <option value="Batch Dryer 2.3	TAY-B-024">Batch Dryer 2.3	TAY-B-024</option>
    <option value="Batch Dryer 2.4	TAY-B-025">Batch Dryer 2.4	TAY-B-025</option>
    <option value="Batch Dryer 2.5	TAY-B-026">Batch Dryer 2.5	TAY-B-026</option>
    <option value="Compound Controller	TAY-B-027">Compound Controller	TAY-B-027</option>
    <option value="Lint Collection Box	TAY-B-028">Lint Collection Box	TAY-B-028</option>
    <option value="Dryer Discharge Conveyor	TAY-B-029">Dryer Discharge Conveyor	TAY-B-029</option>
    <option value="Bypass Conveyor	TAY-B-030">Bypass Conveyor	TAY-B-030</option>
    <option value="Bypass Conveyor	TAY-B-031">Bypass Conveyor	TAY-B-031</option>
    <option value="CBW 3	TAY-B-032">CBW 3	TAY-B-032</option>
    <option value="Powerspin	TAY-B-033">Powerspin	TAY-B-033</option>
    <option value="Powerspin Unload Conveyor 01	TAY-B-034">Powerspin Unload Conveyor 01	TAY-B-034</option>
    <option value="Powerspin Unload Conveyor 02	TAY-B-035">Powerspin Unload Conveyor 02	TAY-B-035</option>
    <option value="Bypass Conveyor	TAY-B-036">Bypass Conveyor	TAY-B-036</option>
    <option value="Lift Shuttle 3	TAY-B-037">Lift Shuttle 3	TAY-B-037</option>
    <option value="Batch Dryer 3.1	TAY-B-038">Batch Dryer 3.1	TAY-B-038</option>
    <option value="Batch Dryer 3.2	TAY-B-039">Batch Dryer 3.2	TAY-B-039</option>
    <option value="Batch Dryer 3.3	TAY-B-040">Batch Dryer 3.3	TAY-B-040</option>
    <option value="Batch Dryer 3.4	TAY-B-041">Batch Dryer 3.4	TAY-B-041</option>
  </optgroup>
  <optgroup label="AllTrack"style="font-family:'helvetica', 'arial';font-size: 16px;">
  </optgroup>
  <optgroup label="SuperTrack 1"style="font-family:'helvetica', 'arial';font-size: 16px;">
  </optgroup>
  <optgroup label="Aero"style="font-family:'helvetica', 'arial';font-size: 16px;">
    <option value="Aero Delivery Loader	TAY-E-001">Aero Delivery Loader	TAY-E-001</option>
    <option value="Accumulation Box	TAY-E-002">Accumulation Box	TAY-E-002</option>
  </optgroup>
  <optgroup label="Private Wash"style="font-family:'helvetica', 'arial';font-size: 16px;">
    <option value="Dryer 1	TAY-F-009">Dryer 1	TAY-F-009</option>
    <option value="Dryer 2	TAY-F-010">Dryer 2	TAY-F-010</option>
    <option value="Dryer 3	TAY-F-011">Dryer 3	TAY-F-011</option>
    <option value="Washer Extractor 50kg 1	TAY-F-012">Washer Extractor 50kg 1	TAY-F-012</option>
    <option value="Washer Extractor 50kg 2	TAY-F-013">Washer Extractor 50kg 2	TAY-F-013</option>
    <option value="Washer Extractor 50kg 3	TAY-F-014">Washer Extractor 50kg 3	TAY-F-014</option>
    <option value="Washer Extractor 30kg 4	TAY-F-015">Washer Extractor 30kg 4	TAY-F-015</option>
    <option value="Washer Extractor 23kg 5	TAY-F-016">Washer Extractor 23kg 5	TAY-F-016</option>
    <option value="Washer Extractor 23kg 6	TAY-F-017">Washer Extractor 23kg 6	TAY-F-017</option>
    <option value="Washer Extractor 23kg 7	TAY-F-018">Washer Extractor 23kg 7	TAY-F-018</option>
    <option value="Dryer 4	TAY-F-019">Dryer 4	TAY-F-019</option>
    <option value="Dryer 5	TAY-F-020">Dryer 5	TAY-F-020</option>
    <option value="Dryer 6	TAY-F-021">Dryer 6	TAY-F-021</option>
    <option value="Dryer 7	TAY-F-022">Dryer 7	TAY-F-022</option>
    <option value="Dryer 8	TAY-F-023">Dryer 8	TAY-F-023</option>
  </optgroup>
  <optgroup label="Airline"style="font-family:'helvetica', 'arial';font-size: 16px;">
    <option value="Automatic Blanket Folder 1	TAY-G-001">Automatic Blanket Folder 1	TAY-G-001</option>
    <option value="Automatic Blanket Folder 1	TAY-G-002">Automatic Blanket Folder 1	TAY-G-002</option>
    <option value="Automatic Sealing Machine	TAY-G-003">Automatic Sealing Machine	TAY-G-003</option>
    <option value="Feeder 6	TAY-G-004">Feeder 6	TAY-G-004</option>
    <option value="Ironer 6	TAY-G-005">Ironer 6	TAY-G-005</option>
    <option value="Folder 6	TAY-G-006">Folder 6	TAY-G-006</option>
  </optgroup>
  <optgroup label="Finishing"style="font-family:'helvetica', 'arial';font-size: 16px;">
    <option value="Speedco Clean Bag System	TAY-SPEEDCO">Speedco Clean Bag System	TAY-SPEEDCO</option>
    <option value="Loading Hoist 1	TAY-C-010">Loading Hoist 1	TAY-C-010</option>
    <option value="Loading Hoist 2	TAY-C-011">Loading Hoist 2	TAY-C-011</option>
    <option value="Air Hoist 1	TAY-C-012">Air Hoist 1	TAY-C-012</option>
    <option value="Air Hoist 2	TAY-C-013">Air Hoist 2	TAY-C-013</option>
    <option value="Air Hoist 3	TAY-C-014">Air Hoist 3	TAY-C-014</option>
    <option value="Air Hoist 4	TAY-C-015">Air Hoist 4	TAY-C-015</option>
    <option value="Air Hoist 5	TAY-C-016">Air Hoist 5	TAY-C-016</option>
    <option value="Air Hoist 6	TAY-C-017">Air Hoist 6	TAY-C-017</option>
    <option value="Lane 1	TAY-C-018">Lane 1	TAY-C-018</option>
    <option value="Lane 2	TAY-C-019">Lane 2	TAY-C-019</option>
    <option value="Lane 3	TAY-C-020">Lane 3	TAY-C-020</option>
    <option value="Lane 4	TAY-C-021">Lane 4	TAY-C-021</option>
    <option value="Lane 5	TAY-C-022">Lane 5	TAY-C-022</option>
    <option value="Lane 6	TAY-C-023">Lane 6	TAY-C-023</option>
    <option value="Lane 7	TAY-C-024">Lane 7	TAY-C-024</option>
    <option value="Lane 8	TAY-C-025">Lane 8	TAY-C-025</option>
    <option value="Lane 9	TAY-C-026">Lane 9	TAY-C-026</option>
    <option value="Lane 10	TAY-C-027">Lane 10	TAY-C-027</option>
    <option value="Lane 11	TAY-C-028">Lane 11	TAY-C-028</option>
    <option value="Lane 12	TAY-C-029">Lane 12	TAY-C-029</option>
    <option value="Lane 13	TAY-C-030">Lane 13	TAY-C-030</option>
    <option value="Discharger 1	TAY-C-031">Discharger 1	TAY-C-031</option>
    <option value="Discharger 2	TAY-C-032">Discharger 2	TAY-C-032</option>
    <option value="Junction Boxes 1- 10	TAY-C-033">Junction Boxes 1- 10	TAY-C-033</option>
    <option value="Empty Bag Stack	TAY-C-034">Empty Bag Stack	TAY-C-034</option>
    <option value="Clean Bag (White)	TAY-C-035">Clean Bag (White)	TAY-C-035</option>
    <option value="Compound Controller	TAY-C-036">Compound Controller	TAY-C-036</option>
    <option value="Supertrack Clean Bag System	TAY-SUPERTRACK1">Supertrack Clean Bag System	TAY-SUPERTRACK1</option>
    <option value="Loading Hoist 3	TAY-D-001">Loading Hoist 3	TAY-D-001</option>
    <option value="Bag Hoist 1	TAY-D-002">Bag Hoist 1	TAY-D-002</option>
    <option value="Picker 1	TAY-H-001">Picker 1	TAY-H-001</option>
    <option value="Transport Conveyor	TAY-H-002">Transport Conveyor	TAY-H-002</option>
    <option value="Transport Conveyor	TAY-H-003">Transport Conveyor	TAY-H-003</option>
    <option value="Transport Conveyor	TAY-H-004">Transport Conveyor	TAY-H-004</option>
    <option value="EMR Feeder 1	TAY-H-005">EMR Feeder 1	TAY-H-005</option>
    <option value="Ironer 1	TAY-H-006">Ironer 1	TAY-H-006</option>
    <option value="Combination Folding Machine 1	TAY-H-007">Combination Folding Machine 1	TAY-H-007</option>
    <option value="Cake / Batch Separator 2	TAY-H-008">Cake / Batch Separator 2	TAY-H-008</option>
    <option value="Picker 2	TAY-H-009">Picker 2	TAY-H-009</option>
    <option value="Transport Conveyor	TAY-H-010">Transport Conveyor	TAY-H-010</option>
    <option value="Transport Conveyor	TAY-H-011">Transport Conveyor	TAY-H-011</option>
    <option value="Transport Conveyor	TAY-H-012">Transport Conveyor	TAY-H-012</option>
    <option value="Transport Conveyor	TAY-H-013">Transport Conveyor	TAY-H-013</option>
    <option value="EMR Feeder 2	TAY-H-014">EMR Feeder 2	TAY-H-014</option>
    <option value="Ironer 2	TAY-H-015">Ironer 2	TAY-H-015</option>
    <option value="Combination Folding Machine 2	TAY-H-016">Combination Folding Machine 2	TAY-H-016</option>
    <option value="Cake / Batch Separator 3	TAY-H-017">Cake / Batch Separator 3	TAY-H-017</option>
    <option value="Picker 3	TAY-H-018">Picker 3	TAY-H-018</option>
    <option value="Transport Conveyor	TAY-H-019">Transport Conveyor	TAY-H-019</option>
    <option value="Transport Conveyor	TAY-H-020">Transport Conveyor	TAY-H-020</option>
    <option value="Transport Conveyor	TAY-H-021">Transport Conveyor	TAY-H-021</option>
    <option value="Feeder 3	TAY-H-022">Feeder 3	TAY-H-022</option>
    <option value="Ironer 3	TAY-H-023">Ironer 3	TAY-H-023</option>
    <option value="Folder 3	TAY-H-024">Folder 3	TAY-H-024</option>
    <option value="Stacker	TAY-H-025">Stacker	TAY-H-025</option>
    <option value="Ironer 4	TAY-H-026">Ironer 4	TAY-H-026</option>
    <option value="Folder 4	TAY-H-027">Folder 4	TAY-H-027</option>
    <option value="Transport Conveyor for delivery to Ironer #5	TAY-H-028">Transport Conveyor for delivery to Ironer #5	TAY-H-028</option>
    <option value="Transport Conveyor for delivery to Ironer #5	TAY-H-029">Transport Conveyor for delivery to Ironer #5	TAY-H-029</option>
    <option value="Cake / Batch Separator 5	TAY-H-030">Cake / Batch Separator 5	TAY-H-030</option>
    <option value="Ironer #5 Transport Conveyor	TAY-H-031">Ironer #5 Transport Conveyor	TAY-H-031</option>
    <option value="Ironer #5 Transport Conveyor	TAY-H-032">Ironer #5 Transport Conveyor	TAY-H-032</option>
    <option value="Ironer #5 Transport Conveyor	TAY-H-033">Ironer #5 Transport Conveyor	TAY-H-033</option>
    <option value="EMV Feeder 5	TAY-H-034">EMV Feeder 5	TAY-H-034</option>
    <option value="Ironer 5	TAY-H-035">Ironer 5	TAY-H-035</option>
    <option value="Longitudinal Folding Machine with Stacker 5	TAY-H-036">Longitudinal Folding Machine with Stacker 5	TAY-H-036</option>
    <option value="Transport Conveyor behind Ironer(s) 4 & 5	TAY-H-037">Transport Conveyor behind Ironer(s) 4 and 5	TAY-H-037</option>
    <option value="Transport Conveyor w/ Drop Point	TAY-H-038">Transport Conveyor w/ Drop Point	TAY-H-038</option>
    <option value="Transport Conveyor	TAY-H-039">Transport Conveyor	TAY-H-039</option>
    <option value="Transport Conveyor	TAY-H-040">Transport Conveyor	TAY-H-040</option>
    <option value="Incline Conveyor with Drop Point for SPF #1&2	TAY-H-041">Incline Conveyor with Drop Point for SPF #1 and 2	TAY-H-041</option>
    <option value="Incline Conveyor with Drop Point for SPF #3&4	TAY-H-042">Incline Conveyor with Drop Point for SPF #3 and 4	TAY-H-042</option>
    <option value="Compound Controller	TAY-H-043">Compound Controller	TAY-H-043</option>
    <option value="Compound Controller	TAY-H-044">Compound Controller	TAY-H-044</option>
    <option value="Compound Controller	TAY-H-045">Compound Controller	TAY-H-045</option>
    <option value="Dry Laundry Folder	TAY-H-046">Dry Laundry Folder	TAY-H-046</option>
    <option value="Dry Laundry Folder	TAY-H-047">Dry Laundry Folder	TAY-H-047</option>
    <option value="Dry Laundry Folder	TAY-H-048">Dry Laundry Folder	TAY-H-048</option>
    <option value="Dry Laundry Folder	TAY-H-049">Dry Laundry Folder	TAY-H-049</option>
  </optgroup>
  <optgroup label="Vectura Top"style="font-family:'helvetica', 'arial';font-size: 16px;">
    <option value="Vectura Transport System	TAY-VECTURA-A">Vectura Transport System	TAY-VECTURA-A</option>
    <option value="Storage Relocator	TAY-I-001">Storage Relocator	TAY-I-001</option>
    <option value="Storage Relocator	TAY-I-002">Storage Relocator	TAY-I-002</option>
    <option value="Transport Conveyor	TAY-I-003">Transport Conveyor	TAY-I-003</option>
    <option value="Transport Conveyor	TAY-I-004">Transport Conveyor	TAY-I-004</option>
    <option value="Transport Conveyor	TAY-I-005">Transport Conveyor	TAY-I-005</option>
    <option value="90° Transport Conveyor	TAY-I-006">90° Transport Conveyor	TAY-I-006</option>
    <option value="Transport Conveyor	TAY-I-007">Transport Conveyor	TAY-I-007</option>
    <option value="90° Transport Conveyor	TAY-I-008">90° Transport Conveyor	TAY-I-008</option>
    <option value="Transport Conveyor	TAY-I-009">Transport Conveyor	TAY-I-009</option>
    <option value="Transport Conveyor	TAY-I-010">Transport Conveyor	TAY-I-010</option>
    <option value="Transport Conveyor	TAY-I-011">Transport Conveyor	TAY-I-011</option>
    <option value="90° Transport Conveyor	TAY-I-012">90° Transport Conveyor	TAY-I-012</option>
    <option value="Transport Conveyor	TAY-I-013">Transport Conveyor	TAY-I-013</option>
    <option value="Transport Conveyor	TAY-I-014">Transport Conveyor	TAY-I-014</option>
    <option value="Transport Conveyor	TAY-I-015">Transport Conveyor	TAY-I-015</option>
    <option value="Transport Conveyor	TAY-I-016">Transport Conveyor	TAY-I-016</option>
    <option value="90° Transport Conveyor	TAY-I-017">90° Transport Conveyor	TAY-I-017</option>
    <option value="Transport Conveyor	TAY-I-018">Transport Conveyor	TAY-I-018</option>
    <option value="Double Stack Support	TAY-I-019">Double Stack Support	TAY-I-019</option>
    <option value="90° Transport Conveyor	TAY-I-020">90° Transport Conveyor	TAY-I-020</option>
    <option value="Transport Conveyor	TAY-I-021">Transport Conveyor	TAY-I-021</option>
    <option value="Transport Conveyor	TAY-I-022">Transport Conveyor	TAY-I-022</option>
    <option value="Transport Conveyor	TAY-I-023">Transport Conveyor	TAY-I-023</option>
    <option value="Transport Conveyor	TAY-I-024">Transport Conveyor	TAY-I-024</option>
    <option value="Transport Conveyor	TAY-I-025">Transport Conveyor	TAY-I-025</option>
    <option value="Sorting Pusher	TAY-I-026">Sorting Pusher	TAY-I-026</option>
    <option value="Sorting Pusher	TAY-I-027">Sorting Pusher	TAY-I-027</option>
    <option value="Roller Conveyor	TAY-I-028">Roller Conveyor	TAY-I-028</option>
    <option value="Roller Conveyor	TAY-I-029">Roller Conveyor	TAY-I-029</option>
    <option value="Roller Conveyor	TAY-I-030">Roller Conveyor	TAY-I-030</option>
    <option value="Roller Conveyor	TAY-I-031">Roller Conveyor	TAY-I-031</option>
    <option value="Roller Conveyor	TAY-I-032">Roller Conveyor	TAY-I-032</option>
    <option value="Terminal	TAY-I-033">Terminal	TAY-I-033</option>
    <option value="Terminal	TAY-I-034">Terminal	TAY-I-034</option>
    <option value="Double Stack Support	TAY-I-035">Double Stack Support	TAY-I-035</option>
    <option value="Compound Controller	TAY-I-036">Compound Controller	TAY-I-036</option>
  </optgroup>
  <optgroup label="Vectura Bottom"style="font-family:'helvetica', 'arial';font-size: 16px;">
    <option value="Vectura Transport System	TAY-VECTURA-B">Vectura Transport System	TAY-VECTURA-B</option>
    <option value="Storage Relocator	TAY-J-001">Storage Relocator	TAY-J-001</option>
    <option value="Storage Relocator	TAY-J-002">Storage Relocator	TAY-J-002</option>
    <option value="Storage Relocator	TAY-J-003">Storage Relocator	TAY-J-003</option>
    <option value="Storage Relocator	TAY-J-004">Storage Relocator	TAY-J-004</option>
    <option value="Storage Relocator	TAY-J-005">Storage Relocator	TAY-J-005</option>
    <option value="Storage Relocator	TAY-J-006">Storage Relocator	TAY-J-006</option>
    <option value="Storage Relocator	TAY-J-007">Storage Relocator	TAY-J-007</option>
    <option value="Storage Relocator	TAY-J-008">Storage Relocator	TAY-J-008</option>
    <option value="Storage Relocator	TAY-J-009">Storage Relocator	TAY-J-009</option>
    <option value="Transport Conveyor	TAY-J-010">Transport Conveyor	TAY-J-010</option>
    <option value="Transport Conveyor	TAY-J-011">Transport Conveyor	TAY-J-011</option>
    <option value="Transport Conveyor	TAY-J-012">Transport Conveyor	TAY-J-012</option>
    <option value="Transport Conveyor	TAY-J-013">Transport Conveyor	TAY-J-013</option>
    <option value="Transport Conveyor	TAY-J-014">Transport Conveyor	TAY-J-014</option>
    <option value="Transport Conveyor	TAY-J-015">Transport Conveyor	TAY-J-015</option>
    <option value="Transport Conveyor	TAY-J-016">Transport Conveyor	TAY-J-016</option>
    <option value="Transport Conveyor	TAY-J-017">Transport Conveyor	TAY-J-017</option>
    <option value="Transport Conveyor	TAY-J-018">Transport Conveyor	TAY-J-018</option>
    <option value="Transport Conveyor	TAY-J-019">Transport Conveyor	TAY-J-019</option>
    <option value="Transport Conveyor	TAY-J-020">Transport Conveyor	TAY-J-020</option>
    <option value="Transport Conveyor	TAY-J-021">Transport Conveyor	TAY-J-021</option>
    <option value="Transport Conveyor	TAY-J-022">Transport Conveyor	TAY-J-022</option>
    <option value="Transport Conveyor	TAY-J-023">Transport Conveyor	TAY-J-023</option>
    <option value="90° Transport Conveyor	TAY-J-024">90° Transport Conveyor	TAY-J-024</option>
    <option value="Transport Conveyor	TAY-J-025">Transport Conveyor	TAY-J-025</option>
    <option value="Transport Conveyor	TAY-J-026">Transport Conveyor	TAY-J-026</option>
    <option value="Transport Conveyor	TAY-J-027">Transport Conveyor	TAY-J-027</option>
    <option value="90° Transport Conveyor	TAY-J-028">90° Transport Conveyor	TAY-J-028</option>
    <option value="90° Transport Conveyor	TAY-J-029">90° Transport Conveyor	TAY-J-029</option>
    <option value="Transport Conveyor	TAY-J-030">Transport Conveyor	TAY-J-030</option>
    <option value="90° Transport Conveyor	TAY-J-031">90° Transport Conveyor	TAY-J-031</option>
    <option value="Transport Conveyor	TAY-J-032">Transport Conveyor	TAY-J-032</option>
    <option value="Transport Conveyor	TAY-J-033">Transport Conveyor	TAY-J-033</option>
    <option value="Transport Conveyor	TAY-J-034">Transport Conveyor	TAY-J-034</option>
    <option value="Transport Conveyor	TAY-J-035">Transport Conveyor	TAY-J-035</option>
    <option value="Transport Conveyor	TAY-J-036">Transport Conveyor	TAY-J-036</option>
    <option value="Sorting Pusher	TAY-J-037">Sorting Pusher	TAY-J-037</option>
    <option value="Sorting Pusher	TAY-J-038">Sorting Pusher	TAY-J-038</option>
    <option value="Roller Conveyor	TAY-J-039">Roller Conveyor	TAY-J-039</option>
    <option value="Roller Conveyor	TAY-J-040">Roller Conveyor	TAY-J-040</option>
    <option value="Roller Conveyor	TAY-J-041">Roller Conveyor	TAY-J-041</option>
    <option value="Roller Conveyor	TAY-J-042">Roller Conveyor	TAY-J-042</option>
    <option value="Roller Conveyor	TAY-J-043">Roller Conveyor	TAY-J-043</option>
    <option value="Terminal	TAY-J-044">Terminal	TAY-J-044</option>
    <option value="Terminal	TAY-J-045">Terminal	TAY-J-045</option>
    <option value="Compound Controller	TAY-J-046">Compound Controller	TAY-J-046</option>
  </optgroup>
  <optgroup label="Rough Dry"style="font-family:'helvetica', 'arial';font-size: 16px;">
    <option value="Transport Conveyor	TAY-K-010">Transport Conveyor	TAY-K-010</option>
    <option value="Compound Controller	TAY-K-011">Compound Controller	TAY-K-011</option>
    <option value="Healthcare Garment Feed Station 1	TAY-K-012">Healthcare Garment Feed Station 1	TAY-K-012</option>
    <option value="Healthcare Garment Feed Station 2	TAY-K-013">Healthcare Garment Feed Station 2	TAY-K-013</option>
    <option value="Healthcare Garment Feed Station 3	TAY-K-014">Healthcare Garment Feed Station 3	TAY-K-014</option>
    <option value="Healthcare Garment Feed Station 4	TAY-K-015">Healthcare Garment Feed Station 4	TAY-K-015</option>
    <option value="Healthcare Garment Feed Station 5	TAY-K-016">Healthcare Garment Feed Station 5	TAY-K-016</option>
    <option value="Healthcare Garment Feed Station 6	TAY-K-017">Healthcare Garment Feed Station 6	TAY-K-017</option>
    <option value="Healthcare Garment Feed Station 7	TAY-K-018">Healthcare Garment Feed Station 7	TAY-K-018</option>
    <option value="Healthcare Garment Steam Finishing Tunnel	TAY-K-019">Healthcare Garment Steam Finishing Tunnel	TAY-K-019</option>
    <option value="Healthcare Garment Transline	TAY-K-020">Healthcare Garment Transline	TAY-K-020</option>
    <option value="Healthcare Garment FAX Folder	TAY-K-021">Healthcare Garment FAX Folder	TAY-K-021</option>
    <option value="Healthcare Garment FAX Folder	TAY-K-022">Healthcare Garment FAX Folder	TAY-K-022</option>
    <option value="Healthcare Garment FAX Folder	TAY-K-023">Healthcare Garment FAX Folder	TAY-K-023</option>
    <option value="Industrial Garment Feed Station 1	TAY-K-024">Industrial Garment Feed Station 1	TAY-K-024</option>
    <option value="Industrial Garment Feed Station 2	TAY-K-025">Industrial Garment Feed Station 2	TAY-K-025</option>
    <option value="Industrial Garment Feed Station 3	TAY-K-026">Industrial Garment Feed Station 3	TAY-K-026</option>
    <option value="Industrial Garment Steam Finishing Tunnel	TAY-K-027">Industrial Garment Steam Finishing Tunnel	TAY-K-027</option>
    <option value="Industrial Garment Transline	TAY-K-028">Industrial Garment Transline	TAY-K-028</option>
    <option value="Industrial Garment FAX Folder	TAY-K-029">Industrial Garment FAX Folder	TAY-K-029</option>
  </optgroup>
  <optgroup label="CSSD"style="font-family:'helvetica', 'arial';font-size: 16px;">
    <option value="Sterilizer 1	TAY-CSSD-001">Sterilizer 1	TAY-CSSD-001</option>
    <option value="Sterilizer 2	TAY-CSSD-002">Sterilizer 2	TAY-CSSD-002</option>
  </optgroup>
  <optgroup label="Dry Cleaning"style="font-family:'helvetica', 'arial';font-size: 16px;">
    <option value="Multisolvent Drycleaning Machine	TAY-L-001">Multisolvent Drycleaning Machine	TAY-L-001</option>
    <option value="Multisolvent Drycleaning Machine	TAY-L-002">Multisolvent Drycleaning Machine	TAY-L-002</option>
    <option value="SlimLine Multisolvent Drycleaning Machine	TAY-L-003">SlimLine Multisolvent Drycleaning Machine	TAY-L-003</option>
    <option value="Shirt Press	TAY-L-004">Shirt Press	TAY-L-004</option>
    <option value="Collar & Cuff Press	TAY-L-005">Collar & Cuff Press	TAY-L-005</option>
    <option value="Trouser Former	TAY-L-006">Trouser Former	TAY-L-006</option>
    <option value="Trouser Former	TAY-L-007">Trouser Former	TAY-L-007</option>
    <option value="Ironing Table	TAY-L-008">Ironing Table	TAY-L-008</option>
    <option value="Ironing Table	TAY-L-009">Ironing Table	TAY-L-009</option>
    <option value="Ironing Table	TAY-L-010">Ironing Table	TAY-L-010</option>
    <option value="Multi Form Finisher	TAY-L-011">Multi Form Finisher	TAY-L-011</option>
    <option value="Rotary Form Finisher	TAY-L-012">Rotary Form Finisher	TAY-L-012</option>
    <option value="Refrigeration Unit 1	TAY-L-013">Refrigeration Unit 1	TAY-L-013</option>
    <option value="Refrigeration Unit 2	TAY-L-014">Refrigeration Unit 2	TAY-L-014</option>
  </optgroup>
  <optgroup label="Packout"style="font-family:'helvetica', 'arial';font-size: 16px;">
    <option value="Strapping Machine	TAY-M-001">Strapping Machine	TAY-M-001</option>
  </optgroup>
  <optgroup label="Sewing Room"style="font-family:'helvetica', 'arial';font-size: 16px;">
    <option value="Heat Seal Machine">Heat Seal Machine</option>
    <option value="Thermal Transfer Press">Thermal Transfer Press</option>
    <option value="Heat Press 1">Heat Press 1</option>
    <option value="Heat Press 2">Heat Press 2</option>
    <option value="Sewing Machine">Sewing Machine</option>
  </optgroup>
</datalist>
  <textarea name="description" name="description" id="description" placeholder="Job Description" required></textarea>
  <textarea name="parts"  name="parts" id="parts" placeholder="parts used"></textarea>
  <textarea name="consumables" name="consumables" id="consumables" placeholder="consumables used"></textarea>
  <textarea name="furtheraction" name="furtheraction" id="furtheraction" placeholder="further action needed?"></textarea>
  <button type="submit">Submit</button>

</form>
</div>
