.break-svg-bottom {
  position: relative;
  width: 100%;
  height: auto;
}

.break-svg-bottom .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0,0,0,0.1);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.break-svg-bottom .top {
  width: 100%;
  height: 10vw;
}

.break-svg-bottom .bottom {
  width: 100%;
  height: 10vw;
}
.break-svg-bottom .center {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.break-svg-bottom .center svg {
  opacity: 0.2;
  width: 100%;
  height: 100%;
  transform: translateY(5px);
}
