---
import './breaksvgbottom.css';
---
  <div class="break-svg-bottom">

  <div class="top" style="background:transparent;">
  </div>

  <div class="center" style="background:transparent;height: 40vh;">
  </div>

    <div class="bottom" style="background:transparent;">
  </div>

  <div class="content">
    <slot/>
  </div>

</div>
