---
import "./hero-style.css";
const { } = Astro.props;
---

<section>
  <div >
    <div >
      <div >
        <h1 >
          Your website with
          <span >Astro
          </span> +
          <span
            >Tailwind
            CSS
          </span>
        </h1>
        <div >
          <p >
            AstroWind is a production ready template to start your new website
            using Astro + Tailwind CSS. It has been designed following Best
            Practices, SEO, Accessibility, Dark Mode, great Page Speed, image
            optimization, sitemap generation and more.
          </p>
          <div >
            <div>
              <a 
                href="https://github.com/onwidget/astrowind" target="_blank" rel="noopener">Get template
              </a>
            </div>
            <div>
              <a 
                href="#features">Learn more
              </a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div >
          <div >
            <img src={import("~/assets/images/hero.jpg")}  />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
