---
const { background } = Astro.props;
---

<style>
  .section {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 50vh;
  }
</style>

  <div style=`background: ${background};` class="section">
  <slot/>
</div>
