---
const { paragraph } = Astro.props;
---

<style>
  p {
    font-family: "sohne-var","Helvetica Neue","Arial",sans-serif;
    font-size: 1rem;
    color: rgba(50,50,50,1);
    margin-bottom: 1rem;
    z-index: 90;
  }
</style>

 <p>{paragraph}</p>

