---
const { setclass, paragraph, color='rgba(50,50,50,1)' } = Astro.props;
---

<style>
  p {
    font-family: var(--font-main);
    font-size: 1rem !important;
    margin-bottom: 1rem;
    z-index: 90;
  }
</style>

  <p class={setclass} style=`color: ${color};` >{paragraph}</p>

