---
const { setclass, heading, color } = Astro.props;
---

<style>
  h4:before {
    content: '';
    position: absolute;
    top: 0;
    left: -1rem;
    border-left: rgba(6, 243, 246, 0.8) solid 1px;
    height: 1rem;
    width: 1rem;
  }
  h4 {
    position: relative;
    font-family: var(--font-main);
    font-weight: 550;
    font-size: 1.2rem!important;
    margin-bottom: 1rem;
  }
</style>

<>
<h4 class={setclass} style=`color: ${color};` >{heading}</h4>
</>

