---
import './cardC-style.css';
---

<div class="container">
  <div class="item-1" style="min-height:20rem;min-width:20rem;"> </div>
  <div class="item-2" style="min-height:20rem;min-width:20rem;"> </div>
  <div class="item-3" style="min-height:20rem;min-width:20rem;"> </div>
  <div class="item-4" style="min-height:20rem;min-width:20rem;"> </div>
  <div class="item-5" style="min-height:20rem;min-width:20rem;"> </div>
</div>
