---
---
<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 1rem;
    padding-right: 6rem;
  }
</style>


 <div class="container">
   <slot name="icon"/>
   <slot name="heading"/>
   <slot name="paragraph"/>
   <slot name="link"/>
</div>

