---
import Page from "~/layouts/PageLayout.astro";
---

<Page>
<div slot="leftside" style="height:300px; width:100px; background: red;"></div>
<div slot="main" style="height:300px; width:100px; background: green;"></div>
<div slot="rightside" style="height:300px; width:100px; background: yellow;"></div>
</Page>
