---
const { } = Astro.props;
---

<section >
  <h2 > <span>Astro</span> + <span >Tailwind CSS </span> </h2> <p >
    Be very surprised by these huge fake numbers you are seeing on this
    page. <br  />Don't waste more time! :P
  </p>
    <a href="https://github.com/onwidget/astrowind" target="_blank" rel="noopener">Get template </a>
</section>
