---
import './giantbutton.css';
---

<div class="giantbutton">
  <h1>Welcome to the Future</h1>
  <span>Enter the modern web with a fast, responsive, beautiful landing page</span>
  <button>Pricing</button>
</div>
