
.giantbutton {
  background: purple;
  min-height: 10vh;
  min-width: 50vw;
  border-radius: 10rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 6rem;
  align-items: center;
}
.giantbutton h1{
  font-size: 5rem;
  color: white;
}
.giantbutton span{
  font-size: 1rem;
  color: white;
}
.giantbutton button{
  min-width: 0;
  font-size: 2rem;
  border-radius: 6px;
  width: 8rem;
  margin-top: 3rem;
  padding: 0.5rem;
  background: rgba(0,0,0,0.4);
  border: none;
  color: white;
}
