---
const { } = Astro.props;
---
<style>
  *{
    margin: 0;
    padding: 0;
  }
  li, ul {
  list-style: none;
}
[data-is-scrolling-up="true"] .menu{
  background: black;
  transition: all ease 1s;
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 10rem;
  background: transparent;
  z-index: 99;
}
.menu a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
}
.menu ul {
  justify-items: center;
  width: 100%;
  display: grid;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
@media (max-width: 680px) {
  .menu button {
  }
  .menu li {
    justify-items: center;
    align-items: center;
    padding: 0rem;
    width: 100%;
  }
  .menu ul {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .login { grid-area: 1 / 1 / 2 / 2; }
  .signup{ grid-area: 2 / 1 / 3 / 2; }
  .link1 { grid-area: 3 / 1 / 4 / 2; }
  .link2 { grid-area: 4 / 1 / 5 / 2; }
  .link3 { grid-area: 5 / 1 / 6 / 2; }
  .link4 { grid-area: 6 / 1 / 7 / 2; }
}
@media (min-width: 680px) {
  .menu li {
    justify-items: center;
    align-items: center;
    padding: 1rem;
  }
  .menu ul {
    grid-template-columns: 4rem 1fr 4fr repeat(3, 1fr) 3fr repeat(2, 1fr) 4rem;
    grid-template-rows: 1fr;
  }
  .link1  { grid-area: 1 / 2 / 2 / 3; }
  .link2  { grid-area: 1 / 4 / 2 / 5; }
  .link3  { grid-area: 1 / 5 / 2 / 6; }
  .link4  { grid-area: 1 / 6 / 2 / 7; }
  .login  { grid-area: 1 / 8 / 2 / 9; }
  .signup { grid-area: 1 / 9 / 2 / 10; }
}

.login button{ 
  background: rgba(240, 165, 2, 1);
}
.signup button{ 
  background: grey;
}
.menu button {
  border: none;
  font-size: 1rem;
  height: 2.5rem;
  width: 6rem;
  border-radius: 0.5rem;
  color: white;
}
</style>


<header class="scrollobserver">
<nav aria-label="Main navigation" class="menu">
<ul>
<li class="link1"> <a href="#">Pages </a> </li>
<li class="link2"> <a href="#">Resources </a> </li>
<li class="link3"> <a href="#">Blog </a> </li>
<li class="link4"> <a href="https://github.com/onwidget/astrowind"> Github </a> </li>
<li class="login"> <button type="button" aria-label="Toggle between Dark and Light mode">Login</button> </li>
<li class="signup"> <button aria-label="Toggle Menu">Sign up</button></li>
</ul>
</nav>
</header>
