li, ul {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 2em;
}
.menu ul {
  display: grid;
  justify-items: center;
  grid-auto-flow: column;
}

.menu button {
  height: 2em;
  width: 3.5em;
  border-radius: 3px;
}

.menu li {
}
