---
import SideBar from "~/components/sidebar/HighlightedSidebar.astro";
const sections = JSON.stringify(['section1','section2','section3']);

const { } = Astro.props;
---

<style>
  .bubble {
    position: fixed;
    bottom: 5vh;
    left: 5vh;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-image: url('smalldots.svg');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: invert(80%);
    z-index: 99;
    transition: transform ease 1s;
  }
  .open {
    width: 20rem;
    transition: all ease 1s;
  }
  .rotate {
    transform: rotate(180deg);
  }
  .closed {
    width: 0 !important;
    transition: all ease 1s;
  }
  .invisible {
    opacity: 0;
    transition: all ease 1s;
  }
  .visible {
    opacity: 1;
    transition: all ease 1s;
  }
  .content {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: grey;
    z-index: 90;
    transition: all ease 1s;
  }
  .slot-content {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }
</style>
<script>
  function toggle(panel, on, off) {
      console.log(panel.classList);
      panel.classList.contains(on) ?
      (() => {
          panel.classList.add(off)
          panel.classList.remove(on)
          this.classList.remove("rotate")
        })() 
        :
      (() => {
          panel.classList.add(on)
          panel.classList.remove(off)
          this.classList.add("rotate")
        })();
  }
  function buttonclick() {
    let panel = document.querySelector('.content');
    let content = document.querySelector('.slot-content');
      toggle.call(this, panel, "open", "closed");
      toggle.call(this, content, "visible", "invisible");
  }
  let button = document.querySelector('.bubble');
  button.addEventListener('click', () => {buttonclick.call(button)});
</script>

<>
<div class="bubble">
</div>
<div class="content closed">
  <div class="slot-content invisible" style="">
    <SideBar sections={sections} />
  </div>
</div>
</>

