---
import './style.css';
const { } = Astro.props;
---

<div class="footer">
  <video id="videoBg" autoplay="" playsinline="" muted="" loop=""><source src={import('~/assets/videos/footer-bg.mp4')} type="video/mp4"></video>
<p>Product</p>
<ul >
<li >
<a href="#">Features </a>
</li>
<li >
<a href="#">Security </a>
</li>
<li >
<a href="#">Team </a>
</li>
<li >
<a href="#">Enterprise </a>
</li>
<li >
<a href="#">Customer stories </a>
</li>
<li >
<a href="#">Pricing </a>
</li>
<li >
<a href="#">Resources </a>
</li>
</ul>
<p>Platform</p>
<ul >
<li >
<a href="#">Developer API </a>
</li>
<li >
<a href="#">Partners </a>
</li>
<li >
<a href="#">Atom </a>
</li>
<li >
<a href="#">Electron </a>
</li>
<li >
<a href="#">GitHub Desktop </a>
</li>
</ul>
<p>Support</p>
<ul >
<li >
<a href="#">Docs </a>
</li>
<li >
<a href="#">Community Forum </a>
</li>
<li >
<a href="#">Professional Services </a>
</li>
<li >
<a href="#">Skills </a>
</li>
<li >
<a href="#">Status </a>
</li>
</ul>
<p>Company</p>
<ul >
<li >
<a href="#">About </a>
</li>
<li >
<a href="#">Blog </a>
</li>
<li >
<a href="#">Careers </a>
</li>
<li >
<a href="#">Press </a>
</li>
<li >
<a href="#">Inclusion </a>
</li>
<li >
<a href="#">Social Impact </a>
</li>
<li >
<a href="#">Shop </a>
</li>
</ul>
</div>

