---
const { } = Astro.props;
---

<footer>
<a >AstroWind</a>
<a href="#">Terms </a> ·
<a href="#">Privacy Policy </a>
Product
<ul >
<li >
<a href="#">Features </a>
</li>
<li >
<a href="#">Security </a>
</li>
<li >
<a href="#">Team </a>
</li>
<li >
<a href="#">Enterprise </a>
</li>
<li >
<a href="#">Customer stories </a>
</li>
<li >
<a href="#">Pricing </a>
</li>
<li >
<a href="#">Resources </a>
</li>
</ul>
Platform
<ul >
<li >
<a href="#">Developer API </a>
</li>
<li >
<a href="#">Partners </a>
</li>
<li >
<a href="#">Atom </a>
</li>
<li >
<a href="#">Electron </a>
</li>
<li >
<a href="#">GitHub Desktop </a>
</li>
</ul>
Support
<ul >
<li >
<a href="#">Docs </a>
</li>
<li >
<a href="#">Community Forum </a>
</li>
<li >
<a href="#">Professional Services </a>
</li>
<li >
<a href="#">Skills </a>
</li>
<li >
<a href="#">Status </a>
</li>
</ul>
Company
<ul >
<li >
<a href="#">About </a>
</li>
<li >
<a href="#">Blog </a>
</li>
<li >
<a href="#">Careers </a>
</li>
<li >
<a href="#">Press </a>
</li>
<li >
<a href="#">Inclusion </a>
</li>
<li >
<a href="#">Social Impact </a>
</li>
<li >
<a href="#">Shop </a>
</li>
</ul>
Subscribe
<p >
Get the latest news and articles to your inbox every month.
</p>
<form>
  <label >Email </label>
  <input id="newsletter" type="email" placeholder="Your email" />
  <button type="submit" >
  <span aria-hidden="true"></span>
  </button>
</form>
<ul >
<li>
<a aria-label="Twitter" href="#"> </a>
</li>
<li >
<a aria-label="Instagram" href="#"> </a>
</li>
<li >
<a aria-label="Facebook" href="#"> </a>
</li>
<li >
<a aria-label="Github" href="https://github.com/onwidget/astrowind"> </a>
</li>
</ul>
Made by <a> onWidget </a>. All rights reserved.
</footer>
