---
import './style.css';
const { } = Astro.props;
---

  <!--  <video id="videoBg" autoplay="" playsinline="" muted="" loop=""><source src={import('~/assets/videos/footer-bg.mp4')} type="video/mp4"></video>
    --->
  <div class="footer-content">

  <div class="footer-item">
    <h3>Product</h3>
    <a>Tailwind UI Kits</a>
    <a>Tailwind UI Kits</a>
    <a>Tailwind UI Kits</a>
    <a>Tailwind UI Kits</a>
  </div> 

  <div class="footer-item">
    <h3>About</h3>
    <a>Tailwind UI Kits</a>
    <a>Tailwind UI Kits</a>
    <a>Tailwind UI Kits</a>
    <a>Tailwind UI Kits</a>
  </div> 

  <div class="footer-item"> 
    <h3>Social</h3>
    <a>Tailwind UI Kits</a>
    <a>Tailwind UI Kits</a>
    <a>Tailwind UI Kits</a>
    <a>Tailwind UI Kits</a>
  </div> 
    <svg></svg>
    <span>Wicked<span>Templates</span></span>
    <span>Copyright c 2020-2022</span>
  </div>



