---
import './style.css';
const { } = Astro.props;
---

<div>
  <span>THE BEST FRONT END TEAMS USE WICKEDTEMPLATES TO STATE THEIR PRESENCE.</span>
  <div class="images">
    <img></img>
    <img></img>
    <img></img>
    <img></img>
    <img></img>
    <img></img>
    <img></img>
    <img></img>
  </div>
</div>

