---
import Layout from "~/layouts/BaseLayout.astro";
import Page from "~/layouts/PageLayout.astro";
import Footer from "~/components/footer/Footer.astro";
import Bubble from "~/components/sidebar/CollapsibleSidebar.astro";
import Alignment from "~/components/alignment/Alignment.astro";
import LogoCard from "~/components/card/LogoCard.astro";
import FiveCard from "~/components/gridsection/FiveCard.astro";
import FourCard from "~/components/gridsection/FourCard.astro";
import ThreeCard from "~/components/gridsection/ThreeCard.astro";
import TwoCard from "~/components/gridsection/TwoCard.astro";
import OneCard from "~/components/gridsection/OneCard.astro";
import ImageCard from "~/components/card/ImageCard.astro";
import Paragraph from "~/components/card/ParagraphCard.astro";
import TwoColumns from "~/components/flexsection/TwoColumns.astro";
import ThreeColumns from "~/components/flexsection/ThreeColumns.astro";
import OneColumn from "~/components/flexsection/OneColumn.astro";
import TitleSuperscript from "~/components/sectiontitle/TitleSuperscript.astro";
import TitleSubscript from "~/components/sectiontitle/TitleSubscript.astro";
import Title from "~/components/sectiontitle/Title.astro";
import SmallHeading from "~/components/card/elements/SmallHeading.astro";
import BasicText from "~/components/card/elements/BasicText.astro";
import SmallLink from "~/components/card/elements/SmallLink.astro";
import AnimatedIcon from "~/components/card/elements/AnimatedIcon.astro";
import BreakRightOverlay from "~/components/sectionbreak/BreakRightOverlay.astro";
import ButtonCard from "~/components/card/ButtonCard.astro";
import LargeText from "~/components/card/elements/LargeText.astro";
import CardButton from "~/components/card/elements/CardButton.astro";
import LargeHeading from "~/components/card/elements/LargeHeading.astro";
import BreakDiagonal from "~/components/sectionbreak/BreakDiagonal.astro";


import {Image} from "@astrojs/image/components";
---

<Footer>
  <Page leftcolor="transparent" maincolor="transparent" rightcolor="transparent">
    <div style="min-width: 250px;" slot="leftside"></div>
    <div style="min-width: 250px;" slot="rightside"></div>
    <ThreeColumns>
    <Alignment align="start" slot="left">
      <LogoCard color="white"/>
    </Alignment>


    <Alignment align="start" slot="middle">
    <Paragraph>
      <SmallHeading color="white" heading="Send us a message" slot="heading"/>
      <BasicText color="white" paragraph="Discover" slot="paragraph"/>
      <BasicText color="white" paragraph="River" slot="paragraph"/>
      <BasicText color="white" paragraph="Altercation" slot="paragraph"/>
      <BasicText color="white" paragraph="Derivative" slot="paragraph"/>
      <BasicText color="white" paragraph="Neverland" slot="paragraph"/>
      <BasicText color="white" paragraph="Fast and Furious" slot="paragraph"/>
      <BasicText color="white" paragraph="Payment" slot="paragraph"/>
      <BasicText color="white" paragraph="Banking Systems" slot="paragraph"/>
    </Paragraph>
      <Paragraph>
      <SmallHeading color="white" heading="Send us a message" slot="heading"/>
      <BasicText color="white" paragraph="Social Media" slot="paragraph"/>
      <BasicText color="white" paragraph="Mission Statement" slot="paragraph"/>
      <BasicText color="white" paragraph="Methodology" slot="paragraph"/>
      <BasicText color="white" paragraph="Past Projects" slot="paragraph"/>
      </Paragraph>
      <Paragraph> 
      <SmallHeading color="white" heading="Send us a message" slot="heading"/>
      <BasicText color="white" paragraph="Technology Stack" slot="paragraph"/>
      <BasicText color="white" paragraph="Search Engine Optimisation" slot="paragraph"/>
      <BasicText color="white" paragraph="Websites" slot="paragraph"/>
      <BasicText color="white" paragraph="Customer Inquiry" slot="paragraph"/>
      </Paragraph>
    </Alignment>
    <Alignment align="start" slot="right">
    <Paragraph>
      <SmallHeading color="white" heading="Send us a message" slot="heading"/>
      <BasicText color="white" paragraph="Discover" slot="paragraph"/>
      <BasicText color="white" paragraph="River" slot="paragraph"/>
      <BasicText color="white" paragraph="Altercation" slot="paragraph"/>
      <BasicText color="white" paragraph="Derivative" slot="paragraph"/>
      <BasicText color="white" paragraph="Neverland" slot="paragraph"/>
      <BasicText color="white" paragraph="Fast and Furious" slot="paragraph"/>
      <BasicText color="white" paragraph="Payment" slot="paragraph"/>
      <BasicText color="white" paragraph="Banking Systems" slot="paragraph"/>
    </Paragraph>
      <Paragraph>
      <SmallHeading color="white" heading="Send us a message" slot="heading"/>
      <BasicText color="white" paragraph="Social Media" slot="paragraph"/>
      <BasicText color="white" paragraph="Mission Statement" slot="paragraph"/>
      <BasicText color="white" paragraph="Methodology" slot="paragraph"/>
      <BasicText color="white" paragraph="Past Projects" slot="paragraph"/>
      </Paragraph>
      <Paragraph> 
      <SmallHeading color="white" heading="Send us a message" slot="heading"/>
      <BasicText color="white" paragraph="Technology Stack" slot="paragraph"/>
      <BasicText color="white" paragraph="Search Engine Optimisation" slot="paragraph"/>
      <BasicText color="white" paragraph="Websites" slot="paragraph"/>
      <BasicText color="white" paragraph="Customer Inquiry" slot="paragraph"/>
      </Paragraph>
    </Alignment>
    </ThreeColumns>
  </Page>
</Footer>

