---
import { Icon } from "astro-icon";

const { } = Astro.props;
---

<section >
<h2 >
Sed ac magna sit amet risus tristique interdum.
hac.
</h2>
<Icon name="tabler:arrow-down"  />
<p >
Step 1
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed
porttitor est nibh at nulla. Praesent placerat enim ut ex tincidunt
vehicula. Fusce sit amet dui tellus.
</p>
<Icon name="tabler:arrow-down"  />
<p >
Step 2
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed
porttitor est nibh at nulla.
</p>
<Icon name="tabler:arrow-down"  />
<p >
Step 3
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi
sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed
porttitor est nibh at nulla.
</p>
<Icon name="tabler:check"  />
<p >
Ready!
</p>
<p ></p>
<img
src={import("~/assets/images/astronaut.jpg")} alt="Astronaut" aspectRatio="432:768" />
</section>
