---
import "~/assets/styles/base.css";
import BasicScripts from "~/components/core/BasicScripts.astro";

---

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="body">
  <slot />
  <BasicScripts defer/>
</body>
</html>
