---
import Layout from "~/layouts/BaseLayout.astro";
import Header from "~/components/navbar/Header.astro";
import Footer from "~/components/footer/Footer.astro";
import "./page-style.css";
import "./reset.css";
import BasicScripts from "~/components/core/BasicScripts.astro";
---

<Layout>
  <body>
  <Header/>
    <div class="row">

      <div class="leftside">
        <slot name="leftside"/>
      </div>

      <div class="main">
        <slot name="main"/>
      </div>

      <div class="rightside">
        <slot name="rightside"/>
      </div>

    </div>
  <Footer/>
  <BasicScripts defer/>
  </body>
</Layout>
