* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

.row {  
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.leftside {
  flex: 15%;
  background: rgba(255,255,100,0.1);
  padding: 0;
}
.rightside {
  flex: 15%;
  background: rgba(255,0,0,0.1);
  padding: 0;
}

/* Main column */
.main {
  flex: 60%;
  background-color: white;
  padding: 0;
}

