---
import "./page-style.css";
const { leftcolor, maincolor, rightcolor } = Astro.props;
---

<div class="row">
  <div style=`background: ${leftcolor};` class="leftside">
    <slot name="leftside"/>
  </div>
  <div style=`background: ${maincolor};` class="main">
    <slot/>
  </div>
  <div style=`background: ${rightcolor};` class="rightside">
    <slot name="rightside"/>
  </div>
</div>
