---
import './asymmetric-style.css';
---

<div class="container">
  <div class="item-1" style="min-height:10rem;min-width:10rem;"><slot name="one"/> </div>
  <div class="item-2" style="min-height:10rem;min-width:10rem;"><slot name="two"/> </div>
  <div class="item-3" style="min-height:10rem;min-width:10rem;"><slot name="three"/> </div>
  <div class="item-4" style="min-height:10rem;min-width:10rem;"><slot name="four"/> </div>
  <div class="item-5" style="min-height:10rem;min-width:10rem;"><slot name="five"/> </div>
</div>
