---
---
<style>
  .container{
 width: 100%;
 display: grid;
 grid-template-columns:  2fr 3fr 2fr;
}
.item-1 {
 grid-column: 1 / 4;
}
.item-2 {
 grid-row: 2 / 3;
}
.item-3 {
 grid-row: 2 / 3;
}
.item-4 {
 grid-row: 2 / 3;
}
@media only screen and (max-width: 70em){
  .container{
   grid-template-columns: 1fr 1fr;
  } 
  .item-2 {
   grid-row: 2 / 3;
  }
  .item-3 {
   grid-row: 2 / 3;
  }
  .item-4 {
   grid-row: 3 / 4;
  }
}
@media only screen and (max-width: 50em){
  .container{
   grid-template-columns: 1fr;
  } 
  .item-2 {
   grid-row: 2 / 3;
  }
  .item-3 {
   grid-row: 3 / 4;
  }
  .item-4 {
   grid-row: 4 / 5;
  }
}

</style>

<div class="container">
  <div class="item-1" style="min-height:10rem;min-width:10rem;"><slot name="one"/> </div>
  <div class="item-2" style="min-height:10rem;min-width:10rem;"><slot name="two"/> </div>
  <div class="item-3" style="min-height:10rem;min-width:10rem;"><slot name="three"/> </div>
  <div class="item-4" style="min-height:10rem;min-width:10rem;"><slot name="four"/> </div>
</div>
